.git
.dart_tool
node_modules
Launcher/build
Launcher/rust/target
CLI/build
CLI/rust/target
Proxy/target
Module/bazel-*
Module/bazel-out
Module/bazel-bin
Module/bazel-testlogs
Module/.bazel-cache
Module/ThirdParty
ThirdParty
Launcher/third_party
Launcher/.dart_tool
CLI/.dart_tool
Packages/*/.dart_tool
Packages/*/build
*.log
*.tmp
.idea
.vscode
